# Dependency directories
node_modules
packages/*/node_modules
.yarn/cache
.yarn/install-state.gz

# Build outputs (Avoid copying Windows builds into the Linux container)
dist
build
packages/*/dist

# Secrets and local configs
.git
*.local.yaml
.env

# Misc
.DS_Store
Thumbs.db
